body {
  background : #f8f9fa ;
  transition : background 0.3s , color 0.3s ;
}

.card {
  background : white ;
  border-radius : 20px ;
}

.dark-theme {
  background : #121212 ;
  color : #f1f1f1;
}

.dark-theme .card {
  background : #1e1e1e ;
  color : #f1f1f1 ;
}